<?xml version="1.0"?>
<config>
    <modules>
        <Mycustom_Sales>
            <version>0.0.1</version>
        </Mycustom_Sales>
    </modules>
    <frontend>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>Mycustom_Sales</module>
                    <frontName>sales</frontName>
                </args>
            </weblog>
        </routers>
        <layout>
            <updates>
                <mycustom_sales>
                    <file>mycustom_sales.xml</file>
                </mycustom_sales>
            </updates>
        </layout>
        <routers>
            <sales>
                <args>
                    <modules>
                        <mycustom_sales before="Mage_Sales">Mycustom_Sales</mycustom_sales>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <global>
        <blocks>
            <mycustom_sales>
                <class>Mycustom_Sales_Block</class>
            </mycustom_sales>
            <sales>
                <rewrite>
                    <order_items>Mycustom_Sales_Block_Order_Items</order_items>
                </rewrite>
            </sales>
        </blocks>
        <models>
            <mycustom_sales>
                    <class>Mycustom_Sales_Model</class>
                    <resourceModel>mycustom_sales_resource</resourceModel>
            </mycustom_sales>
            <mycustom_sales_resource>
                    <class>Mycustom_Sales_Model_Resource</class>
                    <entities>
                        <return>
                            <table>sales_return_order</table>
                        </return>
                    </entities>
            </mycustom_sales_resource>
        </models>
        <resources>
            <!--<sales_setup>-->
                <!--<setup>-->
                    <!--<module>Mycustom_Sales</module>-->
                <!--</setup>-->
                <!--<connection>-->
                    <!--<use>core_setup</use>-->
                <!--</connection>-->
            <!--</sales_setup>-->
            <mycustom_sales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mycustom_sales_read>
            <mycustom_sales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mycustom_sales_write>
        </resources>

    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mycustom_sales before="Mage_Adminhtml">Mycustom_Sales_Adminhtml</mycustom_sales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<admin>-->
        <!--<routers>-->
            <!--<adminhtml>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<mycustom_sales before="Mage_Adminhtml">Mycustom_Adminhtml_Adminhtml</mycustom_sales>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</adminhtml>-->
        <!--</routers>-->
    <!--</admin>-->
</config>