.category-tab-container .ma-box-content{border:1px solid #e6e8e9;}
.category-tab-container .ma-title{display: none;}
.category-tab-container .ma-box-content .price-box{float: left;}
.category-tab-container .ma-box-content .ratings{float: right;}
.category-tab-container .ma-box-content .content-box .product-name{margin-bottom: 3px;margin-top: 0;}
.category-tab-container .ma-desc{clear:both;line-height:22px;/* display: none; */}
.category-tab-container .content-box-inner{padding:15px;border-top:1px solid #e6e8e9;border-bottom:1px solid #e6e8e9;overflow: hidden;}
.category-tab-container .ma-box-content .actions{margin: 12px 0;padding-left: 15px;}

.category-tab-container .ma-box-content .add-to-links li a.link-wishlist,.category-tab-container .ma-box-content .add-to-links li a.link-compare{
-moz-transform: translateX(000px);
-webkit-transform: translateX(000px);
-o-transform: translateX(000px);
-ms-transform: translateX(000px);
transform: translateX(000px);
opacity: 1;}

ul.tabs {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	background: #f3f5f6;
	width: 100%;
}
ul.tabs li {
text-decoration: none;
display: block;
padding: 14px 15px 14px 23px;
text-transform: uppercase;
word-wrap: break-word;
font-size: 14px;
color: #444;
position: relative;
background: #f3f5f6;
cursor: pointer;border: 1px solid #e6e8e9;
border-top: none;}
ul.tabs li:nth-child(1){border-top:1px solid #e6e8e9;}
ul.tabs li:hover:after,
ul.tabs li.active:after{
	content: "";
	border: 8px solid transparent;
	border-left: 8px solid #0b74bf;
	position: absolute;
	right: -16px;
	top: 50%;
	margin-top: -8px;
}
ul.tabs li:hover,
ul.tabs li.active{
	background: #0b74bf;
	color: #fff;
	border-color: #0b74bf;
}
ul.tabs li p{ margin: 0;}
.tab_container {
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #FFFFFF;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	display: none;
}
#container {
	width: 100%;
	margin: 0 auto;	
}




/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.tab_categorys  .bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.tab_categorys  .bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.tab_categorys  .bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fff 5px;
	left: -5px;
	background: #fff;
}

.tab_categorys  .bx-wrapper .bx-pager,
.tab_categorys  .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.tab_categorys  .bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.tab_categorys  .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.tab_categorys  .bx-wrapper .bx-pager .bx-pager-item,
.tab_categorys  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.tab_categorys  .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.tab_categorys  .bx-wrapper .bx-pager.bx-default-pager a:hover,
.tab_categorys  .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.tab_categorys  .bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.tab_categorys  .bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.tab_categorys  .bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.tab_categorys  .bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.tab_categorys  .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.tab_categorys  .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.tab_categorys  .bx-wrapper .bx-controls-auto {
	text-align: center;
}

.tab_categorys  .bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.tab_categorys  .bx-wrapper .bx-controls-auto .bx-start:hover,
.tab_categorys  .bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.tab_categorys  .bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.tab_categorys  .bx-wrapper .bx-controls-auto .bx-stop:hover,
.tab_categorys  .bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.tab_categorys  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.tab_categorys  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.tab_categorys  .bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.tab_categorys  .bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

.tab_categorys  .bx-wrapper li {
	border:1px solid #dedede;
}

.tab_categorys .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}

.tab_categorys .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}

@media(max-width:991px){
	ul.tabs{margin-bottom:30px;}
}


