.tab {
	display:none;
	overflow: visible !important;
}
 
.tab.active {
	display:block;
}

#producttabs{
	margin-bottom: 30px;
	/* overflow: hidden; */
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.ma-producttabs .title{display: none;}
#producttabs li{float:left;margin-right:25px;z-index: 9999;}
#producttabs li.last{margin-right:0;}
.item_inner img{
	width:100%;
}
#producttabs li h3{
cursor: pointer;
display: inline-block;
position: relative;
font-size: 22px;
text-transform: uppercase;
margin-bottom: 0;
color: #232323;
font-weight: 600;
line-height: 28px;
padding: 5px 0;
}
#producttabs li h3:after{
content: "";
height: 3px;
background-color: #0b74bf;
position: absolute;
bottom: -3px;
left: 0;
opacity:0;width:100%;
transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-o-transition:all 0.3s ease-in-out;
}
#producttabs li.active h3:after,#producttabs li h3:hover:after{opacity:1;}
#producttabs li.active h3,#producttabs li h3:hover{color:#0b74bf;}