<?xml version="1.0" encoding="utf-8"?>
<config>
<modules>
    <translations>
        <version>1.0.0</version>
    </translations>
</modules>

<frontend>
    <translate>
        <modules>
            <translations>
                <files>
                    <default>Translations.csv</default>
                </files>
            </translations>
        </modules>
    </translate>
</frontend>
<adminhtml>
    <translate>
        <modules>
            <translations>
                <files>
                    <default>Translations.csv</default>
                </files>
            </translations>
        </modules>
    </translate>
</adminhtml>
</config>