<?xml version="1.0"?>
<config>
    <modules>
        <Magentotutorial_Weblog>
            <version>0.1.0</version>
        </Magentotutorial_Weblog>
    </modules>
    <frontend>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Weblog</module>
                    <frontName>weblog</frontName>
                </args>
            </weblog>
        </routers>
        <layout>
            <updates>
                <magentotutorial_weblog>
                    <file>weblogform.xml</file>
                </magentotutorial_weblog>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <magentotutorial_weblog>
                <class>Magentotutorial_Weblog_Block</class>
            </magentotutorial_weblog>
        </blocks>
        <models>
            <weblog>
                <class>Magentotutorial_Weblog_Model</class>
                <resourceModel>weblog_resource</resourceModel>
            </weblog>
            <weblog_resource>
                <class>Magentotutorial_Weblog_Model_Resource</class>
                <entities>
                    <blogpost>
                        <table>log_product_price</table>
                    </blogpost>
                    <tierprice>
                        <table>log_product_tier_price</table>
                    </tierprice>
                </entities>
            </weblog_resource>
        </models>
        <helpers>
            <weblog>
                <class>Magentotutorial_Weblog_Helper</class>
            </weblog>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magentotutorial_weblog before="Mage_Adminhtml">Magentotutorial_Weblog_Adminhtml</magentotutorial_weblog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<adminhtml>-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<weblog>-->
                    <!--<file>weblogform.xml</file>-->
                <!--</weblog>-->
            <!--</updates>-->
        <!--</layout>-->
    <!--</adminhtml>-->
</config>