<?xml version="1.0"?>
<config>
    <modules>
        <TTS_Motpay>
            <version>0.1.0</version>
        </TTS_Motpay>
    </modules>
    <default>
        <payment>
            <motpay>
                <model>motpay/motpay</model>
                <title>Thanh toán trực tuyến - banking nội địa qua 1Pay.vn</title>
                <active>1</active>
                <order_status>pending_payment</order_status>
                <motpay_access_key>dmlvh5nht18za9w6phg0</motpay_access_key>
                <motpay_secret>7fhnz2ac2xwfistzng2apyk0r8r5gcd5</motpay_secret>
                <motpay_command>request_transaction</motpay_command>
                <access_Key>sdfsdfsdfsd</access_Key>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </motpay>
        </payment>
    </default>
    <frontend>
        <routers>
            <motpay>
                <use>standard</use>
                <args>
                    <module>TTS_Motpay</module>
                    <frontName>motpay</frontName>
                </args>
            </motpay>
        </routers>
        <layout>
            <updates>
                <motpay>
                    <file>motpay.xml</file>
                </motpay>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <motpay>
                <class>TTS_Motpay_Model</class>
                <resourceModel>motpay_mysql4</resourceModel>
            </motpay>
            <motpay_mysql4>
                <class>TTS_Motpay_Model_Mysql4</class>
                <entities>
                    <motpay>
                        <table>motpay</table>
                    </motpay>
                </entities>
            </motpay_mysql4>

        </models>
        <resources>
            <motpay_setup>
                <setup>
                    <module>TTS_Motpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </motpay_setup>
            <motpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </motpay_write>
            <motpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </motpay_read>
        </resources>
        <blocks>
            <motpay>
                <class>TTS_Motpay_Block</class>
            </motpay>
        </blocks>
        <helpers>
            <motpay>
                <class>TTS_Motpay_Helper</class>
            </motpay>
        </helpers>
    </global>
</config>