<?xml version="1.0"?>
<config>
    <modules>
        <Mycustom_Helpcenter>
            <version>0.1.0</version>
        </Mycustom_Helpcenter>
    </modules>
    <frontend>
        <routers>
            <helpcenter>
                <use>standard</use>
                <args>
                    <module>Mycustom_Helpcenter</module>
                    <frontName>helpcenter</frontName>
                </args>
            </helpcenter>
        </routers>
        <layout>
            <updates>
                <helpcenter module="Mycustom_Helpcenter">
                    <file>helpcenter.xml</file>
                </helpcenter>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <helpcenter>
                <class>Mycustom_Helpcenter_Block</class>
            </helpcenter>
            <mycustom_helpcenter>
                <class>Mycustom_Helpcenter_Block</class>
            </mycustom_helpcenter>
        </blocks>
        <models>
            <helpcenter>
                <class>Mycustom_Helpcenter_Model</class>
                <resourceModel>helpcenter_resource</resourceModel>
            </helpcenter>
            <helpcenter_resource>
                <class>Mycustom_Helpcenter_Model_Resource</class>
                <entities>
                    <helpcenter>
                        <table>helpcenter</table>
                    </helpcenter>
                </entities>
            </helpcenter_resource>
        </models>
        <resources>
            <helpcenter_setup>
                <setup>
                    <module>Mycustom_Helpcenter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </helpcenter_setup>
            <helpcenter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </helpcenter_read>
            <helpcenter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </helpcenter_write>
        </resources>
        <helpers>
            <helpcenter>
                <class>Mycustom_Helpcenter_Helper</class>
            </helpcenter>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mycustom_helpcenter before="Mage_Adminhtml">Mycustom_Helpcenter_Adminhtml</mycustom_helpcenter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <helpcenter>
                    <file>mycustom_helpcenter.xml</file>
                </helpcenter>
            </updates>
        </layout>
    </adminhtml>
</config>